body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glow {
  box-shadow: 0 0 20px rgba(106, 27, 154, 0.8), 0 0 40px rgba(74, 20, 140, 0.6);
}

.transition-gradient {
  transition: background 1s ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
